<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <h1>
    Hi <%=name %>! 
    You are logined now
  </h1>
  
  <form action="/logout?_method=DELETE" method="POST">
    <button class="btn" type="submit">Log Out</button>
  </form>
</body>
</html>

