<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<h1>Login</h1>
<div>  
  <% if(messages.error) { %>
    <%= messages.error %> 
  <% } %> 
</div>
<form action="/login" method="POST">
  <div class="form-element">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div class="form-element">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>

  <button class="btn" type="submit">Login</button>
  <a class="btn" href="/register">Go to register</a>

</form>

