:root {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: var(--color-text-light);
}
  
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(38, 104, 179);
  text-align: center;
}

input { 
  font-family: 'Indie Flower', cursive;
  font-size: 16px;
  padding: 3px;
  border: 1px solid #ccc;
 }

#string {
  width: 400px;
  margin: 15px auto;  
}

#match {
  margin: 15px 0;
}

.btn {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #3d73e0 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
	margin: 25px 10px;
}
.btn:hover {
	background:linear-gradient(to bottom, #3d73e0 5%, #2e466e 100%);
	background-color:#3d73e0;
}
.btn:active {
	position:relative;
	top:1px;
}


.form-element {
  padding: 10px 0;
}